.multi-select-enable .seatmap-svg .stage .blocks .block {
  cursor: crosshair;
}
.multi-select-enable .seatmap-svg .stage .blocks .block .masks .seat-level-mask {
  cursor: crosshair !important;
}
.multi-select-enable .seatmap-svg .stage .blocks .block .seats .seat {
  cursor: crosshair;
}
.multi-select-enable .seatmap-svg .stage .blocks .block .seats .seat.selected {
  cursor: crosshair;
}

.seatmap-svg {
  position: relative;
  width: 100%;
  height: 100%;
}
.seatmap-svg.zoom-level-SEAT .stage .blocks .block .masks .seat-level-mask {
  cursor: none;
}
.seatmap-svg.zoom-level-BLOCK .stage .blocks .block .masks .seat-level-mask {
  cursor: none;
}
.seatmap-svg.zoom-level-VENUE .stage .blocks .block {
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.61));
}
.seatmap-svg.zoom-level-VENUE .stage .blocks .block:hover {
  transform: scale(1.02);
  filter: drop-shadow(0px 0px 14px rgba(0, 0, 0, 0.7));
}
.seatmap-svg.zoom-level-VENUE .stage .blocks .block .masks .seat-level-mask {
  cursor: none;
}
.seatmap-svg .zoom-out-bg {
  cursor: zoom-out;
  fill: transparent;
}
.seatmap-svg .stage .blocks .block {
  cursor: pointer;
  transition-property: transform, filter;
  transition-duration: 0.17s;
  transition-timing-function: ease-in-out;
  filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0));
}
.seatmap-svg .stage .blocks .block .bounds .block-hull-border {
  stroke-linejoin: round;
  opacity: 0.5;
}
.seatmap-svg .stage .blocks .block .bounds .block-hull {
  stroke-linejoin: round;
  cursor: move;
}
.seatmap-svg .stage .blocks .block .masks .venue-level-mask {
  transition-property: opacity;
  transition-duration: 0.5s;
  transition-delay: 0.2s;
  transition-timing-function: ease-in-out;
  stroke-linejoin: round;
  opacity: 1;
}
.seatmap-svg .stage .blocks .block .masks .block-level-mask {
  transition-property: opacity;
  transition-duration: 0.5s;
  transition-delay: 0.2s;
  transition-timing-function: ease-in-out;
  stroke-linejoin: round;
  opacity: 0.7;
}
.seatmap-svg .stage .blocks .block .masks .seat-level-mask {
  transition-property: opacity;
  transition-duration: 0.5s;
  transition-delay: 0.2s;
  transition-timing-function: ease-in-out;
  stroke-linejoin: round;
  opacity: 0;
}
.seatmap-svg .stage .blocks .block .masks .bound-hide {
  transition-property: opacity;
  transition-duration: 0.5s;
  transition-delay: 0.2s;
  transition-timing-function: ease-in-out;
  pointer-events: none;
  opacity: 0;
}
.seatmap-svg .stage .blocks .block .info .title {
  text-anchor: middle;
  dominant-baseline: central;
  pointer-events: none;
}
.seatmap-svg .stage .blocks .block .seats .seat {
  cursor: copy;
}
.seatmap-svg .stage .blocks .block .seats .seat.selected {
  cursor: pointer;
}
.seatmap-svg .stage .blocks .block .seats .seat .label-text {
  text-anchor: middle;
  dominant-baseline: central;
}
.seatmap-svg .stage .blocks .block .labels .label circle {
  stroke: rgba(0, 0, 0, 0.2);
}
.seatmap-svg .stage .blocks .block .labels .label .label-text {
  text-anchor: middle;
  dominant-baseline: central;
}
.seatmap-svg .stage .blocks .block .zoom-layers-container .zoom-layer-hull {
  stroke-width: 80px;
  stroke-linejoin: round;
}
@media (any-pointer: coarse) {
  .seatmap-svg .stage .blocks .search-circle {
    display: none;
  }
}
.seatmap-svg .stage .search-circle {
  opacity: 0;
  transition-property: opacity;
  transition-duration: 0.2s;
  transition-delay: 0;
  transition-timing-function: ease-in-out;
}
.seatmap-svg .stage .search-circle .circle {
  fill: rgba(0, 0, 0, 0);
  pointer-events: none;
  stroke: rgba(0, 0, 0, 0.4);
  stroke-width: 4px;
}
.seatmap-svg .stage .search-circle.hide {
  transition-property: opacity;
  transition-duration: 0.2s;
  transition-delay: 0;
  transition-timing-function: ease-in-out;
  opacity: 0;
}
.seatmap-svg .stage .search-circle.show {
  transition-property: opacity;
  transition-duration: 0.2s;
  transition-delay: 0;
  transition-timing-function: ease-in-out;
  opacity: 1;
}
.seatmap-svg .legend .legend-item circle {
  stroke: #adadad;
  stroke-width: 1px;
}
.seatmap-svg .legend .legend-item text {
  text-anchor: start;
  dominant-baseline: central;
}