@import "lib";

.seatmap-svg {
  position: relative;
  width: 100%;
  height: 100%;
  .stage {
    .blocks {
      .block {
        .bounds {
          .block-hull-border {
            stroke-linejoin: round;
          }
          .block-hull {
            stroke-linejoin: round;
          }
        }
        .masks {
          .venue-level-mask {
            @include trans();
            stroke-linejoin: round;
            cursor: pointer;
            opacity: 1;
          }
          .block-level-mask {
            @include trans();
            stroke-linejoin: round;
            opacity: 1;
          }
          .seat-level-mask {
            @include trans();
            cursor: none;
            stroke-linejoin: round;
            opacity: 0;
          }
          .bound-hide {
            @include trans();
            pointer-events: none;
            opacity: 0;
          }
        }
        .seats-container {
          .seat {
          }
        }
        .labels-container {
          .label {
            circle {
              stroke: rgba(0, 0, 0, .2);
            }
            .label-text {
              text-anchor: middle;
              dominant-baseline: central;
            }
          }
        }
        .zoom-layers-container {
          .zoom-layer-hull {
            stroke-width: 80px;
            stroke-linejoin: round;
          }
        }
        .block-info {
          .block-text {
          }
        }
      }
      .search-circle {
        opacity: 0;
        @include trans();
        .circle {
          fill: rgba(0, 0, 0, 0);
          pointer-events: none;
          stroke: rgba(0, 0, 0, 0.4);
          @include stroke-width(4)
        }
        &.hide {
          @include trans();
          opacity: 0;

        }
        &.show {
          @include trans();
          opacity: 1;
        }

      }
    }

  }
  .zoom-out-button {

  }
  .legend-container {
    .legend-node {
      circle {
        stroke: #adadad;
        @include stroke-width(1);
      }
      text {
        text-anchor: middle;
        dominant-baseline: central;
      }
    }
  }
}